---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/Sections/About.astro';
import Education from '@/components/Sections/Education.astro';
import Experience from '@/components/Sections/Experience.astro';
import Hero from '@/components/Sections/Hero.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
import Projects from '@/components/Sections/Projects.astro';
import Skills from '@/components/Sections/Skills.astro';
import ButtonChangeIdiom from '@/components/Sections/ButtonChangeIdiom.astro';

import dataEng from "cv-en.json";

const { basics } = dataEng;
const { name } =  basics;
---

<Layout title={`Ing. ${name} - Resume`}>
	<main>
		<ButtonChangeIdiom message="Change to Spanish" route="/cv-es" />
		<Hero data={dataEng} />
		<About data={dataEng} title="About" />
		<Experience data={dataEng} title="Experience" />
		<Education data={dataEng} title="Education" />
		<Skills data={dataEng} title="Skills" />
		<!-- <Projects data={dataEng} title="Projects" />  -->
	</main>
	<KeyboardManager data={dataEng} titles={["Print", "Search command", "Visit"]}  />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
